<!DOCTYPE html>
<html>

<head>
    <title>Руйхати пурсишномахо</title>
    <!-- Подключение Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Руйхати пурсишномахо</h1>
        <!-- Использование Bootstrap таблицы -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Session ID</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                <!-- Использование цикла для вывода данных -->
                {% for item in unique_session_ids %}
                <tr>
                    <td><a href="{% url 'response-detail' item.session_id %}">{{ item.session_id }}</a></td>
                    <td>{{ item.cr_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>